.notify {
  background-color: #f5f9fa;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50px;
  border-radius: 2px;
  bottom: -5px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.7);
  height: 55px;
  position: fixed;
  width: 50px;

  font-size: 10px;
  margin: 0;
  z-index: 9999;
}
.notify:not(.max) {
  cursor: pointer;
}
.notify p {
  display: none;
  font-family: 'myriad-pro', 'PT Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  position: absolute;
  right: 0;
}

/* -------------------------------------------- */

.notify.post {
  background-image: url('images/notice_post-sm.svg');
  right: 52%;
}
.notify.post.max {
  background-image: url('images/notice_post-lg.svg');
  right: 52%;
}

.notify.like {
  background-image: url('images/notice_like-sm.svg');
  left: 52%;
}
.notify.like.max {
  background-image: url('images/notice_like-lg.svg');
  left: 52%;
}

/* -------------------------------------------- */

.notify.max {
  background-size: 100px;
  height: 110px;
  width: 45em;
}
.notify.max p {
  background-color: white;
  display: block;
  height: 100%;
  width: 35em;
}
.notify.max p b {
  display: block;
  font-size: 1.5em;
  line-height: 1.3;
  padding-left: 1.5rem;
}

.notify.max .l1 {
  color: #bb0826;
  padding-top: 20px;
}
.notify.max .l2 {
  color: black;
  font-weight: 100;
}
.notify.max .l3 {
  color: #666;
  font-weight: 100;
}

/* -------------------------------------------- */

.notify.max .xo {
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
  position: absolute;
  right: 0.2em;
  top: 0;
}
.notify.max .xo:hover {
  color: #bb0826;
}
