$red: #b2272e;
$blue: #0d6a8a;
$lite: #f2f8f9;

.toplist {
  border: 0;
  color: $blue;
  font-family: 'myriad-pro', 'PT Sans', Arial, Helvetica, sans-serif;
  margin: -10px 0px 10px 0px;
  text-align: left;
  &:hover {
    transform: none;
  }

  article {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 48%;
    margin-bottom: 4%;
    overflow: hidden;
    padding: 1rem 0.5rem 0;

    b {
      background-color: $lite;
      color: $red;
      display: block;
      font-size: 0.9rem;
      font-weight: 100;
      line-height: 1;
      margin: -1rem -1rem 0.5rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
    }
  }

  ol {
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 0;

    li {
      cursor: pointer;
      margin-left: 1rem;
      a {
        color: $blue;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
