$red: #b2272e;
$blue: #0d6a8a;
$lite: #f2f8f9;

.toplist {
  border: 0;
  color: $blue;
  font-family: 'myriad-pro', 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.7;
  padding: 0 0 1em;
  text-align: left;
  &:hover {
    transform: initial;
  }

  article {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 50%;
    margin-bottom: 1em;
    padding: 1em;

    b {
      background-color: $lite;
      color: $red;
      display: block;
      font-weight: 100;
      margin: -1em -1em 0;
      padding: 0.5em 1em;
      text-transform: uppercase;
    }
  }

  ol {
    margin-bottom: 0;
    padding: 0;

    li {
      cursor: pointer;
      margin-left: 1em;
      a {
        color: $blue;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
